html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
* {
  margin:0 ;
}
html {
  height: 100%;
}
body {
  background: linear-gradient(#007d35, #0f574e) fixed;  
  width: 100%;
  background-repeat:no-repeat;
  display: flex;
  align-items: flex-end;
}
@media (min-width:768px) {
  body {
    align-items: center;
  }
}

#root {
  width: 100%;
}